<% @page_title = "My Reviews" %>

<div class="container">
  <p><%= link_to "TOP", :root, style: "color: #880c29" %> > My Reviews</p>

  <% if flash[:notice_post_delete] %>
  <div class="alert alert-info">
    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span><%= flash[:notice_post_delete] %></span>
  </div>
  <% elsif flash[:notice_post_edit]%>
  <div class="alert alert-info">
    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span><%= flash[:notice_post_edit] %></span>
  </div>
  <% end %>


  <h3>My Reviews</h3>
  <div class="container">
  <table class="table ">
    <% if @posts.present? %>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.term %></td>
      <td><%= post.title %></td>
      <td><%= link_to "Edit", [:edit, post], style: "color: #880c29" %> | <%= link_to "Delete", post, method: :delete,
        data: { confirm: "Do you really delete this post?" }, style: "color: #880c29" %></td>
    </tr>
    <% end %>
    <% end %>

  </table>
  </div>
